.ProfileSummary{
    grid-row-start: 1;
    grid-row-end: 3;
    width: 90%;
    height: 34rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
    background-color: white;
    border-radius: 1.2rem;

    padding: 1rem;
    box-sizing: border-box;
}

.ProfileSummary img{
    width: 55%;
}

.ProfileSummary h4{
    font-size: 1em;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.02rem;
    color:#51C485;
    margin-bottom: 0;
    margin-top: 0.6rem;
}

.ProfileSummary h2{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.02rem;
    color: #1E2330;
    margin-bottom: 0;
}

.ProfileSummary p{
    
    height: 2.2rem;
    width: 16rem;

    color: #706E6E;
    background-color: #F3F3F3;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 0;

    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ProfileSummary div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.ProfileSummary button{
    position: absolute;
    top: 88%;

    outline: none;
    border: 2px solid #4E89FC;

    height: 3rem;
    width: 7.8rem;
    border-radius: 1rem;

    background-color: white;
    color: #4E89FC;

    cursor: pointer;

}

