.login-container {
  position: absolute;
  height: 31rem;
  width: 30rem;
  top: 5rem;
  right: 10rem;
  z-index: 10;
  background: #ffffff;
  box-shadow: 1.16304px 1.16304px 19.7717px rgba(0, 0, 0, 0.17);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 0rem;
}

.login-container > div {
  width: 100%;
  height: 20%;
}

.l-head h2 {
  letter-spacing: 0.02rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.l-glogin {
  width: 90% !important;
  height: 10% !important;
  border: 1px solid lightgray;
  border-radius: 60px;
}

.break-line {
  width: 100%;
  height: 10% !important;
}

.l-phlogin {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.phn-id-dropdown {
  width: 15%;
  height: 60%;
  border: 1.32633px solid #c9cdd5;
  border-radius: 14px;
}

.phno-text {
  width: 65%;
  height: 60%;
  border: 1.32633px solid #c9cdd5;
  border-radius: 14px;
  display: flex;
}

.phn-code {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.phn-text {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.phn-text > input {
  outline: none;
  border: none;
  font-size: 16px;
}
.get-otp-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.get-otp-btn > button {
  width: 90%;
  height: 65%;
  background: #4e89fc;
  color: white;
  border: none;
  border-radius: 10px;
}

.l-emailPass {
  height: 30%!important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.l-emailPass > div {
  width: 90%;
  height: 45%;
  border: 1px solid red;
  border-radius: 10px;
  border: 1px solid #c9cdd5;
}

.l-email {
}

.l-email > input {
  width: 99%;
  height: 99%;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.l-password {
}

.l-password > input {
  width: 99%;
  height: 99%;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.login-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10% !important;
}

@media screen and (max-width: 1300px) {
  .login-container {
    top: 2rem;
    right: 2rem;
    height: 30rem;
    width: 25rem;
  }

  .l-glogin-text h5 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .login-container {
    height: 25rem;
    width: 23rem;
  }

  .l-glogin-text h5 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 960px) {
  .login-container {
    top: 38rem;
    right: 10rem;
    height: 35rem;
    width: 35rem;
  }

  .l-glogin-text h5 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 540px) {
  .login-container {
    /* display: none; */
    height: 20rem;
    width: 23rem;
    top: 27rem;
    left: 2rem;
  }

  .l-head h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .login-container {
    /* display: none; */
    height: 25rem;
    width: 21rem;
    top: 10rem;
    left: 1rem;
  }

  .l-head h2 {
    font-size: 1.5rem;
  }
}
